# === Xcode ===
# User settings
xcuserdata/
*.xcuserstate

# Build generated
build/
DerivedData/

# Workspace
*.xcworkspace
!default.xcworkspace

# === iOS/macOS ===
# App packaging
*.ipa
*.dSYM.zip
*.dSYM

# === Swift Package Manager ===
.build/
Packages/
Package.resolved

# === CocoaPods ===
Pods/
Podfile.lock

# === Carthage ===
Carthage/Build/

# === SwiftPM/Xcode cache ===
.swiftpm/xcode/
.swiftpm/build/

# === Fastlane ===
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# === Other ===
# Backup files
*.swp
*.lock
*.tmp
*.orig
*.DS_Store

# === Optional ===
# Uncomment if you use these
# .env
# *.log